:root {
  --main-color: orange;
  --light-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* small */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 320px;
  margin-bottom: 45px;
  margin-top: 12px;
}

@media (max-width: 830px) {
  img {
    width: 560px;
    height: 288px;
  }
}

@media (max-width: 660px) {
  img {
    width: 423px;
    height: 288px;
  }
}

@media (max-width: 435px) {
  img {
          height: 149px;
            margin-top: 44px;
            width: 350px;
    
  }
}

.para {
  position: absolute;
  background: #352f2f;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
    left: 20%;
      position: absolute;
      text-align: center;
      top: 100%;
      width: 60%;

}

@media (max-width: 435px) {
  .para {
    left: 25%;
    width: 102%;
  }
}

@media (max-width: 600px) {
  .para {
    left: 0%;
    /* 464 */
    top: 98%;
    width: 103%;
    margin-bottom: 45px;
    margin-top: 6px;
  }
}

@media (max-width: 714px) {
  .para {

    margin-bottom: 45px;
    margin-top: 3px;
    width: 94%;
    left: 10px;

  }
}

.contanier {
  border: 1px solid gray;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4px;
}

.tab {
  align-items: center;
  background-color: var(--main-color);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  width: auto;
  margin: 2px;
  cursor: pointer;
  color: black;
}

.all-tabs:after {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 1px;
  /* position: absolute; */
  left: 60px;
  transform: translateX(-50px);
  bottom: 606px;
}

.active-tab {
  border: none;
  /* background: #ccc; */
}

.contents {
  position: relative;
}

.content {
  display: none;
  position: relative;
}

.active-content {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 1s ease-in-out;
}

.tabs :hover {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

p {
  margin-top: 9px;
  height: 36px;
}

.all-tabs {
  position: relative;
}

.info {
  position: relative;
}

input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  outline: none;
  border-radius: 10px;
  background: #e3dfdf;
}

hr {
  background-color: orange;
  border: none;
  height: 1px;
  margin-top: -3px;
}